body {
    margin-left: 1.414em;
    margin-top: 0, 5em;
}

h1 {
    font-family: sans-serif;
    font-size: 1.999em;
    -webkit-column-span: all;
    column-span: all;
}

h2 {
    font-family: sans-serif;
    font-size: 1.414em;
}

p {
    font-family: sans-serif;
    font-size: 1.0em;
    line-height: 1.6em;
    max-width: 25em;
}

article {
    -webkit-columns: 2 14em;
    -moz-columns: 2 14em;
    columns: 2 14em;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
}
